* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------*\
#Color
\*-----------------------------------*/

:root {
    --h1: #000;
    --opensans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
}

/*-----------------------------------*\
#Desktop View
\*-----------------------------------*/

.head1 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.head1 h1 {
    margin: 0;
    margin-top: 8px;
    color: var(--h1);
    text-align: center;
    font-family: var(--poppins);
    font-size: 35.7px;
}

.head1 p {
    margin: 0;
    font-family: var(--poppins);
    font-size: 16.6px;
}

div.container-health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    width: 100vw;
    height: 68vh;
    background-color: white;
    gap: 20px;
}

div.container-health div.left-health div.top-health,
div.container-health div.left-health div.bottom-health,
div.container-health div.right-health {
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

div.container-health div.left-health {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



div.container-health div.left-health div.top-health {
    width: 100%;
    height: 50%;
    background-color: #b4dadb;
    border-radius: 15px;
    padding: 15px;
}

div.container-health div.left-health div.bottom-health {
    width: 100%;
    height: 45%;
    background-color: #dce683;
    border-radius: 15px;
    padding: 15px 20px;
    font-family: var(--opensans);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.container-health div.left-health div.bottom-health div.topInfo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--opensans);
}



div.topInfo h1.edit{
    font-family: var(--opensans);
    color: #ea444e;
    font-weight: 600;
}

div.topInfo h1{
    font-size: 35px;
}
div.container-health div.left-health div.bottom-health div.information{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

div.container-health div.left-health div.bottom-health div.information div.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container-health div.left-health div.bottom-health div.information div.info div.text{
    display: flex;
    flex-direction: row;
    
}

div.infos{
    text-decoration: underline;
    color: #00650d;
}


div.info div.text{
    width: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container-health div.right-health {
    width: 50%;
    height: 100%;
    background-color: #fbd5c0;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container-health div.right-health div.text{
    font-family: var(--poppins);
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

div.container-health div.right-health div.text h1{
    font-size: 31px;
}

div.container-health div.right-health div.text div.value{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10px;
}

div.container-health div.right-health div.text div.value div.label{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}




/*-----------------------------------*\
#Responsive for Mobile View
\*-----------------------------------*/

@media (max-width: 768px) {
    div.container-health {
        flex-direction: column;
        padding: 0 20px;
        height: auto;
    }

    div.container-health div.left-health,
    div.container-health div.right-health {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    div.container-health div.right-health {
        height: auto;
    }

    div.container-health div.left-health div.top-health,
    div.container-health div.left-health div.bottom-health {
        height: auto;
    }
}
