* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
.header {
  background-color: #a0bee1;
  margin: 20px 5%;
  margin-bottom: 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
}
.header h1 {
  margin: 20px 0;
  color: white;
  font-family: "Poppins", sans-serif;
}
.header button {
  background-color: #5b90cf;
  border: 2px solid #d3e8ff;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 40px;
  color: #d3e8ff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.header img {
  margin-top: 20px;
  width: 35px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 40px;
  text-align: center;
}

.title h1 {
  font-size: 40px;
  font-family: "Canva Sans", sans-serif;
}

.title p {
  margin: 5px 0;
  font-size: 20px;
  font-family: "Canva Sans", sans-serif;
}

.container {
  /* display: grid; */
  width: 93%;
  height: fit-content;
  /* grid-template-columns: auto auto; */
  /* background-color: black; */
  margin: 30px 5px;
  /* gap: 10% 7%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  width: 48%;
  height: 150px;
  padding: 20px;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
  margin: 10px;
  overflow: hidden; /* Mencegah konten keluar dari box */
  cursor: pointer;
}
.box p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0; */
}
.box img {
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: #ff9bb1;
}
.box2 {
  background-color: #6ac4e5;
}
.box3 {
  background-color: #f1a161;
}
.box4 {
  background-color: #728aac;
}

@media (max-width: 1222px) {
  .box {
    width: 45%;
  }
  .box p {
    font-size: 23px;
  }
}
@media (max-width: 965px) {
  .box img {
    height: 80px;
    width: auto;
  }
  .box p {
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  .box {
    width: 100%;
  }
  .box p {
    font-size: 23px;
  }
}
@media (max-width: 800px) {
  .title h1 {
    font-size: 30px;
  }
  .title p {
    font-size: 18px;
  }
  .box {
    height: 100px;
    border-radius: 20px;
  }
  .box img {
    height: auto;
    width: 80px;
  }
  .box p {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .header h1{
    font-size: 25px;
  }
}
@media (max-width: 350px) {
  .box p {
    font-size: 13px;
  }
  .header h1{
    font-size: 20px;
  }
}
