.pengenalan{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 95px;
    width: 90%;
  }
  
  .title h1 {
    margin-bottom: 0px;
    color: #ff2149;
    font-family: "Noto Serif", serif;
  }
  
  .title p {
    margin-bottom: 5px;
  }
  
  .text{
    margin: 10px 0px;
    width: 70%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b4dadb;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #5f8384;
    overflow: auto;
  }
  
  
  .text p {
    text-align: center;
  }
  
  .button button {
    background-color: #f8a29e;
    color: #fcffff;
    border: 2px solid #df8884;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    margin: 20px 0;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    margin-right: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e9efef;
    box-shadow: inset 0 0 5px #e9efef; 
    border-radius: 10px;
    margin-block: 1.5em;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ffc8dd; 
    border-radius: 10px;
    border: .1em solid #e9efef;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9bb1; 
  }

  @media screen and (max-width: 730px) {
    .title h1 {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 730px) {
    .title h1 {
      font-size: 26px;
    }
  }
  @media screen and (max-width: 600px) {
    .title h1 {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 470px) {
    .title h1 {
      font-size: 23px;
    }
  }
  @media screen and (max-width: 360px) {
    .title h1 {
      font-size: 20px;
    }
  }