:root {
  --base-variant: #e8e9ed;
  --primary-color: #3a435d;
  --body: #fefefe;
  --header: #ffc1cf;
  --profile: palevioletred;
  --color: #000;
  --background-a: #ffc1cf;
  --hover: #ff9bb177;
  --hamburg: #fff;
  --darkmodelogo: #fff;
  --child2: #a0bee1;
  --child3: #78d1cc;
  --child4: #a0efd1;
  --child5: #fcead2;
  --child6: #ff9bb1;
  --child8: #e1e1e1;
  --child9: #343434;
  --darkmode-a-color: #fff;
  --darkmode-btn: #fff;
}
.darkmode {
  --base-variant: #101425;
  --primary-color: #3a435d;
  --body: #fefefe;
  --header: #ffc1cf;
  --profile: palevioletred;
  --color: #000;
  --background-a: #ffc1cf;
  --hover: #ff9bb177;
  --hamburg: #fff;
  --darkmodelogo: #fff;
  --child2: #a0bee1;
  --child3: #78d1cc;;
  --child4: #a0efd1;
  --child5: #fcead2;
  --child6: #ff9bb1;
  --child8: #e1e1e1;
  --child9: #343434;
  --darkmode-a-color: #fff;
  --darkmode-btn: #fff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--body);
}
header {
  width: 100%;
  height: 80px;
  background: var(--header);
  border-bottom-left-radius: 20.4px;
  border-bottom-right-radius: 20.4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.profile {
  width: 50px;
  height: 50px;
  background: var(--profile);
  border-radius: 50%;
  background-image: url(../images/profile/female.png);
  background-size: 125% 125%;
  background-position: center;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.desc .top {
  font-size: 14px;
}
.desc .bottom {
  font-size: 20px;
  font-weight: 600;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  background-color: var(--background-a);
  font-size: 16px;
  padding: 12px;
  height: 100%;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar a:hover {
  background-color: var(--hover);
}
.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

/* button {
  border: none;
  padding: 0.8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
} */

#theme-switch {
  border: none;
  padding: 0.8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#theme-switch svg {
  fill: var(--primary-color);
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 30px;
    position: fixed;
  }
  /* .nav-bar ul li a {
    font-size: 16px;
  } */
}
@media screen and (max-width: 1150px) {
  #theme-switch {
    display: none;
  }

  .nav-bar {
    display: none;
  }
  .hamburger {
    position: relative;
    display: block;
    height: 35px;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }
  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--hamburg);
    margin: 6px 0px;
    transition: 0.4s;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 98;
    padding-top: 90px;
    transition: 0.4s;
    overflow-y: auto;
    padding-bottom: 30px;
    background: #fefefe;
  }
  .mobile-nav.is-active {
    left: 0;
  }
  .mobile-nav h2 {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .mobile-nav a {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0;
    border-radius: 20px;
    /* text-align: center; */
    align-items: center;
    padding: 20px 16px;
    /* background-color: #a179e0; */
    color: var(--color);
    text-decoration: none;
  }
  .mobile-nav i {
    font-size: 23px;
    padding-right: 10px;
  }
  .mobile-nav i.bx {
    color: var(--darkmodelogo);
  }
  .mobile-nav a:nth-child(2) {
    background-color: var(--child2);
  }
  .mobile-nav a:nth-child(3) {
    background-color: var(--child3);
  }
  .mobile-nav a:nth-child(4) {
    background-color: var(--child4);
  }
  .mobile-nav a:nth-child(5) {
    background-color: var(--child5);
  }
  .mobile-nav a:nth-child(6) {
    background-color: var(--child6);
  }
  .mobile-nav a:nth-child(8) {
    background-color: var(--child8);
  }
  .mobile-nav a:nth-child(9) {
    background-color: var(--child9);
    color: var(--darkmode-a-color);
  }
  div.head {
    padding-top: 100px;
  }

  div.darkbtn {
    width: 48px;
    height: 25.6px;
    border-radius: 15px;
    background-color: var(--darkmode-btn);
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;

    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 4px 1px;
  }

  div.iconcontainer {
    background-color: var(--darkmode-a-color);
    width: 22.4px;
    height: 22.4px;
    border-radius: 50%;

    position: absolute;

    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;
  }
}
