.search {
  border: 4px solid #ff9bb1;
  border-radius: 30px;
  width: 60%;
  /* height: 50px; */
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  font-size: 20px;
  width: 80%;
  border: 0;
  outline: none;
  margin: 0 20px;
}

.search-logo {
  width: 70px;
  height: 100%;
  background-color: #ff9bb1;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-logo img {
  width: 40px;
  margin: 2px 25%;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.card {
  width: 280px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #ffc8dd;
  border: 3px solid #ff9bb1;
  margin: 1% 0;
}

.card h3 {
  margin: 5px 0;
}

.card img {
  width: 250px;
  border: 4px solid white;
}

.bottom {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px 0;
}

.info {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: space-between;
}

.kcal {
  background-color: #78d1cc;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 4px 3px;
  align-items: center;
}

.gula {
  background-color: #fcead2;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 4px 5px;
  align-items: center;
}

.view {
  background-color: #f8a29e;
  width: 30%;
  display: flex;
  width: fit-content;
  border-radius: 8px;
  padding: 0 8px;
  align-items: center;
}

.info img {
  border: 0;
  width: 20px;
  height: 20px;
}

.info p {
  font-size: 11px;
  margin: 0 2px;
}

.view a {
  font-size: 12px;
  font-weight: bold;
  color: #9e392b;
}

/* @media (max-width: 800px) {
  .card {
    width: 210px;
    text-align: center;
  }
  .card img {
    width: 180px;
  }
  .info p {
    font-size: 8px;
  }
  .kcal img {
    width: 10px;
    height: auto;
  }
  .gula img {
    width: 10px;
    height: auto;
  }
  .view a {
    font-size: 10px;
  }
} */

@media (max-width: 800px) {
  .search {
    width: 80%;
  }
  .search input {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .search input {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .search input {
    font-size: 15px;
  }
  .search-logo {
    width: 60px;
  }
  .search-logo img {
    width: 30px;
  }
}

@media (max-width: 490px) {
  .search input {
    font-size: 11px;
  }
  .search-logo img {
    width: 25px;
  }
}
@media (max-width: 350px) {
  .search input {
    font-size: 10px;
  }
}
