.card {
  width: 90%;
  height: 80vh;
  background-color: #ffc8dd;
  margin: 25px auto;
  border: 4px solid #f8a29e;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card h1 {
  font-size: 50px;
}

.recipe {
  padding: 3%;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top button {
  background-color: #ffc8dd;
  color: black;
  font-size: 30px;
  font-weight: 1000;
  padding: 0;
  border: 0;
}

.image {
  width: 1000px;
  border-radius: 20px;
  border: 4px solid #f8a29e;
  background-image: url(/images/recipe/cookie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.text-box {
  margin: 20px 0;
  background-color: #ffe1d1;
  width: 93%;
  height: 45vh;
  overflow-y: scroll;
  border-radius: 20px;
  border: 4px solid #f8a29e;
  padding: 10px;
}

.text-box h3{
  font-size: 20px;
}

li {
  list-style-type: circle;
}

.card .bottom {
  /* background-color: white; */
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bottom img {
  width: 30px;
}

.bottom p {
  font-size: 25px;
}

.kcal {
  background-color: #78d1cc;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 5px 8px;
  align-items: center;
}

.gula {
  background-color: #fcead2;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 5px 8px;
  align-items: center;
}


::-webkit-scrollbar {
  width: 15px;
  margin-right: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ce8985;
  border-radius: 10px;
  border: 2px solid black;
  margin-block: 1.5em;
}
 
::-webkit-scrollbar-thumb {
  background: #ff9bb1; 
  border-radius: 10px;
  border: .1em solid #dc7070;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9bb1; 
}