.card {
  width: 90%;
  height: auto; /* Change height to auto so it adjusts based on content */
  background-color: #ffc8dd;
  margin: 25px auto;
  border: 4px solid #f8a29e;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.recipe {
  padding: 3%;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top button {
  background-color: #ffc8dd;
  color: black;
  font-size: 30px;
  font-weight: 1000;
  padding: 0;
  border: 0;
}

.image {
  width: 1000px;
  height: auto; /* Ensure height adapts to the content */
  border-radius: 20px;
  border: 4px solid #f8a29e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box {
  margin: 20px 0;
  background-color: #ffe1d1;
  width: 93%;
  min-height: 45vh; /* Set a minimum height to prevent collapsing */
  max-height: 50vh; /* Prevent the box from growing too large */
  overflow-y: auto; /* Ensure the content scrolls if it gets too long */
  border-radius: 20px;
  border: 4px solid #f8a29e;
  padding: 10px;
}

.text-box h3 {
  font-size: 20px;
}

ul {
  padding-left: 30px;
}

li {
  margin-bottom: 5px;
}

.card .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bottom img {
  width: 40px;
  margin-right: 5px;
}

.bottom p {
  font-size: 20px;
}

.kcal {
  background-color: #78d1cc;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 5px 8px;
  align-items: center;
}

.gula {
  background-color: #fcead2;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 5px 8px;
  align-items: center;
}

.text-box::-webkit-scrollbar {
  width: 15px;
}

.text-box::-webkit-scrollbar-track {
  background-color: #ce8985;
  border-radius: 10px;
  border: 2px solid black;
  margin-block: 1.5em;
}

.text-box::-webkit-scrollbar-thumb {
  background: #ff9bb1;
  border-radius: 10px;
  border: 0.1em solid #dc7070;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .image {
    width: 94%;
    height: 200px;
    margin-top: 20px;
  }

  .text-box {
    width: 100%;
  }
}
