<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="profile"></div>
        <div class="desc">
          <div class="top">Selamat Datang Kembali!</div>
          <div class="bottom">Contoh Nama</div>
        </div>
      </div>
      <nav class="nav-bar">
        <a href="/home">Beranda</a>
        <a href="/profile">Profil</a>
        <a href="/education">Edukasi</a>
        <a href="/health-stats">Status Kesehatan</a>
        <a href="/calc">Kalkulator Gula</a>
        <a href="/recipes">Resep Makanan</a>
      </nav>

      <button class="hamburger">
        <div class="bar"></div>
      </button>
    </header>
    <nav class="mobile-nav">
      <h2>Halaman</h2>
      <a href="/home"><i class="fa-solid fa-house"></i>Beranda</a>
      <a href="/education"><i class="fa-solid fa-book-open"></i>Edukasi Diabetes</a>
      <a href="/health-stats"><i class="fa-solid fa-notes-medical"></i>Status Kesehatan</a>
      <a href="/calc"><i class="fa-solid fa-calculator"></i>Pelacak Konsumsi Gula</a>
      <a href="/recipes"><i class="fa-solid fa-utensils"></i>Resep Makanan Sehat</a>
      <h2>Pengaturan</h2>
      <a href="/profile"><i class="fa-solid fa-gear"></i>Pengaturan Profil</a>
      <a href="#">Mode Gelap</a>
    </nav>
  </body>
  <script src="/js/nav.js"></script>
</html>
