@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

section.page {
  max-width: 500px;
  min-height: 100vh;
  padding: 20px 0px;
  /* background-color: salmon; */
}

header {
  height: 80px;
  background-color: greenyellow;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
  /* border: 2px grey solid; */
  background: #ffc8dd;
  border-radius: 20px;
}

.month-container {
  display: flex;
  text-align: center;
  padding-top: 20px;
  justify-content: space-between;
}

.week-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-name {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.calendar-container button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.week-display .day-name {
  font-size: 10px;
}

.week-display,
#weekDisplay {
  margin: 0 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.day {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #919191;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.day.name {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  color: #000;
}
.box-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  /* border: 2px grey solid; */
}

.box-container.detail-calendar {
  justify-content: space-between;
  align-items: center;
}

.box-container div {
  display: inline-block;
}
.box-container.detail-calendar .left div {
  padding-left: 5px;
}

.box-container.detail-calendar .right i {
  display: inline-block; /* Ensure it behaves as a block-level element */
  height: 20px;
  width: 20px;
  background-color: #fff;
  font-size: 20px; /* Adjust icon size */
  text-align: center; /* Center text/icon horizontally */
  line-height: 20px; /* Center text/icon vertically */
  border-radius: 50%; /* Optional: make it circular if needed */
}

.box-container span.box {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  /* background-color: red; */
}

.box-container span.box.normal {
  background: #78d1cc;
}

.box-container span.box.sedang {
  background: #dce683;
}

.box-container span.box.tinggi {
  background: #ea444e;
}

.box-container span.box.kosong {
  background: #919191;
}

.action-page {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  margin: 30px 0;
  background-color: #b4dadb;
  padding-bottom: 15px;
  border-radius: 20px;
  align-items: center;
}

.action-page h2 {
  font-size: 18px;
}

.action-page #addFood {
  background-color: #ff9bb1;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 90%;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.today-foods {
  background-color: #a0bee1;
  height: fit-content;
  border-radius: 20px;
  padding: 0 40px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.today-foods h2 {
  font-size: 23px;
  text-transform: capitalize;
}
.food-list {
  height: 200px;
  width: 100%;
  background-color: #fcead2;
  border-radius: 20px;
  border: dashed 2px #000;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 520px;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.month-view .week-container {
  flex-wrap: wrap;
  width: 100%;
}

.month-view .week-display {
  width: auto;
  flex-wrap: wrap;
}
