<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Kesehatan</title>
  <link rel="stylesheet" href="/css/global.css" /> 
  <link rel="stylesheet" href="/css/health-status.css">
</head>
<body>
  <%- include("partials/nav") %>

  <div class="main">

    <div class="title">
      <h1>Status Kesehatan Kamu</h1>
      <p>Kontrol dengan baik yaa!</p>
    </div>
    <div class="container">
      <div class="left-row">
  
        <div class="bmi">
          <h1>Kalkulator BMI</h1>
          <img src="">
          <p class="info">Berat Badan yang Sehat</p>
          <div class="stats">
            <p>Berat Badan : 55.9kg</p>
            <p>Tinggi Badan : 161cm</p>
          </div>
        </div>
  
        <div class="data">
  
          <div class="head">
            <h3>Data Diri :</h3>
            <h3>EDIT</h3>
          </div>
  
          <div class="isi-data">
            <div class="tinggi">
              <p>Tinggi Badan :</p>
              <p>161.0cm</p>
            </div>
            <div class="berat">
              <p>Berat Badan :</p>
              <p>55.9kg</p>
            </div>
            <div class="gula">
              <p>Tinggi Gula Darah :</p>
              <p>55.9kg</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right-row">
        
      </div>
    </div>

  </div>
  <script src="/js/nav.js"></script>
</body>
</html>