<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/global.css" /> 
  <link rel="stylesheet" href="/css/home.css" /> 
</head>
<body>
  <%- include("partials/nav") %>
  
  <div class="header">
    <h1>Yuk Kenali Diabetes !</h1>
    <button>Klik Disini!</button>
    <img src="../public/images/home/dots.png">
  </div>

  <div class="main">
    <div class="title">
      <h1>Sekarang, mau ngapain ?</h1>
      <p>Ayo cek fitur-fitur menarik kami!</p>
    </div>
    <div class="container">
      <div class="box box1">
        <img src="">
        <p>Masukkan dan lihat informasi konsumsi gula harian anda !</p>
      </div>
      <div class="box box2">
        <img src="">
        <p>Lihat rekaman dan edit status kesehatan anda saat ini !</p>
      </div>
      <div class="box box3">
        <img src="">
        <p>Lihat resep makanan yang sehat dan mudah untuk dibikin !</p>
      </div>
      <div class="box box4">
        <img src="">
        <p>Baca lagi edukasi tentang diabetes dan cara mencegahnya !</p>
      </div>
    </div>
  </div>
</body>
</html>
