<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiaBeatz | Pengenalan</title>
  <link rel="stylesheet" href="/css/global.css" /> 
  <link rel="stylesheet" href="/css/introduction.css" /> 
</head>
<body>
  <%- include("partials/nav") %>
  <div class="pengenalan">
    <div class="title">
      <h1>MARI KITA KENALI DAHULU APA ITU DIABETES</h1>
      <p>Yuk baca cerita di bawah ini!</p>
    </div>
    <div class="text" style="box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);">
      <p>Di sebuah desa yang damai, hiduplah seorang anak kecil bernama Lili. Lili sangat suka makan permen dan kue setiap hari. Suatu hari, ketika Lili sedang makan permen, ia merasa tubuhnya sangat lelah dan mulutnya sangat haus, meskipun sudah minum banyak air.
      </p>
      <p>Ibu Lili melihat Lili yang tampak lemas dan bertanya, "Lili, kenapa kamu lemas sekali?" Lili menjawab, "Aku lelah sekali, Bu, dan aku selalu haus."
      </p>
      <p>Ibu Lili pun membawa Lili ke dokter. Dokter tersenyum ramah dan berkata, "Lili, di dalam tubuhmu ada yang namanya gula, yang biasanya memberikan kita energi untuk bermain dan belajar. Tapi, kalau kita makan terlalu banyak permen dan kue, tubuh kita tidak bisa menggunakan gula itu dengan baik, sehingga gula menumpuk di dalam darah."
      </p>
      <p>Dokter melanjutkan, "Ini yang kita sebut diabetes. Tubuh Lili kesulitan mengolah gula, jadi kita harus mengatur agar gula yang masuk ke tubuh tidak terlalu banyak. Mulai sekarang, kita harus makan makanan yang sehat seperti buah-buahan dan sayur-sayuran, dan permen hanya dimakan sesekali saja."
      </p>
      <p>Lili mengangguk, memahami apa yang dikatakan dokter. Ia pun mulai makan lebih banyak buah dan sayur. Setiap kali Lili ingin makan permen, ia ingat cerita dokter dan memilih makanan sehat agar tubuhnya tetap kuat dan sehat.
      </p>
      <p>Dengan begitu, Lili bisa terus bermain dengan teman-temannya tanpa merasa lemas lagi. Dan setiap kali Lili merasa sangat haus, ia tahu bahwa itu adalah tanda untuk mengingatkan dirinya agar selalu memilih makanan yang baik untuk tubuhnya.</p>
    </div>
    <div class="button">
      <button onclick="location.href='/home'">Beranda</button>
    </div>
  </div>
</body>
</html>