<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resep Makanan</title>
  <link rel="stylesheet" href="/css/recipe-info.css"/>
  <link rel="stylesheet" href="/css/global.css"/> 
</head>
<body>
  <%- include("partials/nav") %>
  <%- include("partials/dummy") %>

  <div class="card">
    <div class="image">
      <img src="/images/recipe/cookie.jpg">
    </div>
    <div class="recipe">

      <div class="top">
        <h1>Choco Chip Cookies</h1>
        <button><a href="/recipes">X</a></button>
      </div>

      <div class="middle">
        <div class="text-box">
          <div class="bahan">
            <h3>Bahan :</h3>
            <ul>
              <li>150 gram tepung almond (atau bisa diganti dengan tepung gandum utuh)</li>
              <li>50 gram oat yang sudah dihaluskan menjadi tepung</li>
              <li>60 ml minyak kelapa atau minyak zaitun</li>
              <li>50 gram madu atau sirup maple</li>
              <li>1 butir telur (atau 1 sdm biji chia yang direndam dalam 3 sdm air selama 15 menit untuk versi vegan)</li>
            </ul>
          </div>

          <div class="cara">
            <h3>Cara Membuat :</h3>
            <ul>
              <li>Panaskan oven: Panaskan oven terlebih dahulu hingga suhu 175°C (350°F).</li>
              <li>Campurkan bahan basah: Dalam mangkuk besar, campurkan minyak kelapa atau minyak zaitun, madu atau sirup maple, telur (atau penggantinya), dan ekstrak vanila. Aduk hingga semua bahan tercampur rata.</li>
              <li>Tambahkan bahan kering: Masukkan tepung almond, tepung oat, baking soda, dan garam ke dalam campuran bahan basah. Aduk hingga membentuk adonan yang merata.</li>
              <li>Tambahkan choco chip: Tambahkan dark chocolate chip ke dalam adonan dan aduk hingga merata.</li>
              <li>Bentuk cookies: Ambil satu sendok makan adonan dan letakkan di atas loyang yang telah dilapisi kertas perkamen. Tekan sedikit adonan agar berbentuk bulat pipih. Ulangi hingga semua adonan habis.</li>
              <li>Panggang: Panggang cookies dalam oven selama 10-12 menit atau hingga pinggiran cookies berwarna keemasan.</li>
              <li>Dinginkan: Biarkan cookies mendingin di atas loyang selama 5 menit sebelum dipindahkan ke rak pendingin. Ini akan membuat tekstur cookies lebih kokoh.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="kcal">
          <img src="/images/recipe/kcal.jpg">
          <p>141 kcal</p>
        </div>
        <div class="gula">
          <img src="/images/recipe/sugar.jpg">
          <p>10 g</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/nav.js"></script>
</body>
</html>