<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resep Makanan</title>
  <link rel="stylesheet" href="/css/recipes.css"/>
  <link rel="stylesheet" href="/css/global.css"/> 
</head>
<body>
  <%- include("partials/nav") %>
  <%- include("partials/dummy") %>
  
  <div class="search">
    <input type="text" placeholder="Cari Resep Makanan dan Minuman...">
    <div class="search-logo">
      <img src="/images/recipe/search.jpg">
    </div>
  </div>

  <div class="container">

    <div class="card">
      <img src="/images/recipe/cookie.jpg">
      <h3>Choco Chip Cookies</h3>

      <div class="bottom">
        <div class="info">
          <div class="kcal">
            <img src="/images/recipe/kcal.jpg" alt="">
            <p>141 kcal</p>
          </div>
          <div class="gula">
            <img src="/images/recipe/sugar.jpg" alt="">
            <p>10 g</p>
          </div>
        </div>
        <div class="view">
          <a href="/recipe-info">Lihat Resep</a >
        </div>
      </div>
  </div>

  <div class="card">
    <img src="/images/recipe/cookie.jpg">
    <h3>Choco Chip Cookies</h3>

    <div class="bottom">
      <div class="info">
        <div class="kcal">
          <img src="/images/recipe/kcal.jpg" alt="">
          <p>141 kcal</p>
        </div>
        <div class="gula">
          <img src="/images/recipe/sugar.jpg" alt="">
          <p>10 g</p>
        </div>
      </div>
      <div class="view">
        <a href="/recipe-info">Lihat Resep</a >
      </div>
    </div>

</div>

<div class="card">
  <img src="/images/recipe/cookie.jpg">
  <h3>Choco Chip Cookies</h3>

  <div class="bottom">
    <div class="info">
      <div class="kcal">
        <img src="/images/recipe/kcal.jpg" alt="">
        <p>141 kcal</p>
      </div>
      <div class="gula">
        <img src="/images/recipe/sugar.jpg" alt="">
        <p>10 g</p>
      </div>
    </div>
    <div class="view">
      <a href="/recipe-info">Lihat Resep</a >
    </div>
  </div>

</div>

<div class="card">
  <img src="/images/recipe/cookie.jpg">
  <h3>Choco Chip Cookies</h3>

  <div class="bottom">
    <div class="info">
      <div class="kcal">
        <img src="/images/recipe/kcal.jpg" alt="">
        <p>141 kcal</p>
      </div>
      <div class="gula">
        <img src="/images/recipe/sugar.jpg" alt="">
        <p>10 g</p>
      </div>
    </div>
    <div class="view">
      <a href="/recipe-info">Lihat Resep</a >
    </div>
  </div>
  </div>

  <div class="card">
    <img src="/images/recipe/cookie.jpg">
    <h3>Choco Chip Cookies</h3>
  
    <div class="bottom">
      <div class="info">
        <div class="kcal">
          <img src="/images/recipe/kcal.jpg" alt="">
          <p>141 kcal</p>
        </div>
        <div class="gula">
          <img src="/images/recipe/sugar.jpg" alt="">
          <p>10 g</p>
        </div>
      </div>
      <div class="view">
        <a href="/recipe-info">Lihat Resep</a >
      </div>
    </div>
    </div>

    <div class="card">
      <img src="/images/recipe/cookie.jpg">
      <h3>Choco Chip Cookies</h3>
    
      <div class="bottom">
        <div class="info">
          <div class="kcal">
            <img src="/images/recipe/kcal.jpg" alt="">
            <p>141 kcal</p>
          </div>
          <div class="gula">
            <img src="/images/recipe/sugar.jpg" alt="">
            <p>10 g</p>
          </div>
        </div>
        <div class="view">
          <a href="/recipe-info">Lihat Resep</a >
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/images/recipe/cookie.jpg">
      <h3>Choco Chip Cookies</h3>
    
      <div class="bottom">
        <div class="info">
          <div class="kcal">
            <img src="/images/recipe/kcal.jpg" alt="">
            <p>141 kcal</p>
          </div>
          <div class="gula">
            <img src="/images/recipe/sugar.jpg" alt="">
            <p>10 g</p>
          </div>
        </div>
        <div class="view">
          <a href="/recipe-info">Lihat Resep</a >
        </div>
      </div>
    </div>

    <div class="card">
      <img src="/images/recipe/cookie.jpg">
      <h3>Choco Chip Cookies</h3>
    
      <div class="bottom">
        <div class="info">
          <div class="kcal">
            <img src="/images/recipe/kcal.jpg" alt="">
            <p>141 kcal</p>
          </div>
          <div class="gula">
            <img src="/images/recipe/sugar.jpg" alt="">
            <p>10 g</p>
          </div>
        </div>
        <div class="view">
          <a href="/recipe-info">Lihat Resep</a >
        </div>
      </div>
    </div>

  <script src="/js/nav.js"></script>
</body>
</html>