*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------*\
  #Font
\*-----------------------------------*/

:root{
    --opensans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
}
